<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>


<ul>
    <li>
        <a href="/pages/page1">Page1</a>
    </li>
    <li>
        <a href="/pages/page2">Page2</a>
    </li>
    <li>
        <a href="/pages/page3">Page3</a>
    </li>
    <li>
        <a href="/pages/page4">Page4</a>
    </li>
</ul>