// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-alert,
.my-info,
.my-xx,
.my-notice {
    position: absolute;
    width:200px;
    padding:20px 40px;
    border-radius: 5px;
    background-color: rgba(#000,0.8);
    color:#fff;
    left:50%;
    margin-left:-100px;
    top:10%;
}


.my-alert{
    background-color: rgba(#F00,0.8);
}


.my-info{
    background-color: rgba(#00f,0.8);
}

.my-xx{
    background-color: rgba(#f60,0.8);
}